<h1>
  Gryphon
</h1>



<p> Number of active job offers: <%= @num_active_job_offers %> </p>

<%= link_to 'View all job offers', {:controller => :job_offers, :action => :index} %>

<div>
  <h3>
    Random job offers:
  </h3>
  <% @random_job_offers.each do |x| %>
    <p>
      <%= link_to x.name, {:controller => :job_offers, :action => :show, :id => x.id} %>
      | <%= x.level %> | <%= x.city.name %>
    </p>
  <% end %>
</div>

<div>
  <h3>
    Companies:
  </h3>
  <% @companies.each do |c| %>
    <p> <%= c.name %> </p>
  <% end %>
</div>

<div>
  <h3>
    For each compay print all published jobs:
  </h3>
  <% @companies_jobs.each do |company, job_offers| %>
    <p> <%= company %>: </p>
      <% job_offers.each do |job_offer| %>
        <li> <%= job_offer.name %> </li>
      <% end %>
  <% end %>
</div>
