<ul class="media-list">
	<% job_offers.each do |job| %>
	  <li class="media">
	    <div class="media-body">
	      <h4 class="media-heading">
	      	<%= link_to job.name, {:controller => :job_offers, :action => :show, :id => job.id} %>
	      </h4>
	      <p>
	      	Level: <%= job.level %>
					<br /> City: <%= job.city.name %>
					<br /> Company: <%= job.company.name %>
					<br /> Busy: <%= job.busy %>
	      </p>
	    </div>
	  </li>
  <% end %>
</ul>
